.container {
  padding-left: 60px;
  max-width: 600px;
  width: calc(100% - 660px);
  justify-content: space-between;
  height: 100vh;
  max-height: calc(100vh - 200px);
}

.wrapper {
  width: 100%;
}
